.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.imgFlame {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 80%;
  animation: flame 1.5s 0.4s cubic-bezier(0, 1, 0, 1) forwards,
    rot45 1.2s 1.3s cubic-bezier(0, 1, 0, 1) forwards;
}
@keyframes flame {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    width: 30%;
  }
}
@keyframes rot45 {
  from {
  }
  to {
    transform: rotate(45deg);
  }
}
