html,
body {
  //overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: courier-std, a-otf-futo-min-a101-pr6n, "Courier New", monospace;
  //font-family: courier-std, monospace;
  //vdl-logog,

  color: #333;
  text-align: center;
}
img {
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #8ca5ff;
  display: block;
}
