html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: courier-std, a-otf-futo-min-a101-pr6n, sans-serif;
  //font-family: courier-std, monospace;
  //vdl-logog,

  color: #333;
  text-align: center;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
